---
title: 'About Us | Na Naa Thai Massage'
description: "Discover Na Naa's journey from Thailand to Kilburn, blending traditional Thai techniques with UK expertise. Learn about our founder's passion for healing through massage."
preloadImg: '/assets/images/banner.webp'
permalink: 'about-us/'
eleventyNavigation:
    key: About Us
    order: 200

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/banner/banner-m.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/banner/banner.webp">
        <img loading="lazy" decoding="async" src="/assets/images/banner/banner.jpg" alt="massage stones banner" width="1280" height="568">
    </picture>
</div>
                                

   <!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-865">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/side/about-us-m.webp">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/side/about-us.webp">
                <img loading="lazy" decoding="async" src="/assets/images/side/about-us.jpg" alt="buddah statue" width="1280" height="568">
            </picture>
            <div class="cs-box">
                <span class="cs-number">2000+</span>
                <span class="cs-desc">
                    Clients served successfully
                </span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">Our Story</span>
            <h2 class="cs-title">About Na Naa Thai Massage</h2>
            <p class="cs-text">
                Na Naa, the founder of Na Naa Thai Massage, brings a wealth of experience and cultural authenticity to her practice. Originally from Thailand, she has called the UK home since 1997, blending Eastern traditions with Western techniques to offer a unique massage experience.
            </p>
            <p class="cs-text">
                Na Naa's journey in massage therapy began with her own transformative experience. After recovering from an injury through the power of therapeutic massage, she was inspired to share this healing art with others. This personal connection to the practice drives her passion and dedication to helping clients achieve wellness and relief.
            </p>
            <p class="cs-text">
                With a strong foundation in traditional Thai massage from the prestigious Wat Pho in Thailand, complemented by recognised UK qualifications, Na Naa opened her Kilburn studio in 2018. Since then, she has been committed to providing high-quality, personalised massage treatments that cater to the diverse needs of her clients, witnessing countless transformations and success stories along the way.
            </p>             
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}