---
title: 'Our Team | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'our-team/'
eleventyNavigation:
    key: Our Team
    order: 2200
    parent: About
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/team.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <div id="banner-843">
        <div class="cs-container">
            <span class="cs-int-title">Our Team</span>
        </div>
        <!--Background Image-->
        <picture class="cs-background" aria-hidden="true">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga-m.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg" alt="yoga" width="1280" height="568">
        </picture>
    </div>

    <!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ABOUT US</span>
            <h2 class="cs-title">What Our Valued Clients Say About Us</h2>
            <p class="cs-text">
                At True Thai Therapy, we take pride in connecting with each of our clients. Our reputation for excellence spans both our local Edinburgh community and visitors from around the world. Here's what some of our satisfied guests have shared about their experiences with us
            </p>
        </div>
    </div>
</section>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-873">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Occupational and Speech Therapy</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta officiis praesentium necessitatibus tempora unde quasi porro nemo aliquam voluptatem quaerat hic, doloremque impedit perferendis labore, ea libero voluptas laudantium? 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul id="list-893" class="cs-ul">
                <li class="cs-li">
                    Parkinson’s
                </li>
                <li class="cs-li">
                    MS
                </li>
                <li class="cs-li">
                    Stroke
                </li>
                <li class="cs-li">
                    SCI
                </li>
                <li class="cs-li">
                    Vestibular
                </li>
                <li class="cs-li">
                    Balance/Gait disorders
                </li>
                <li class="cs-li">
                    Carpal Tunnel
                </li>
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Hip/Knee Pain
                </li>
                <li class="cs-li">
                    Shoulder Pain
                </li>
            </ul>                   
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-873">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Occupational and Speech Therapy</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta officiis praesentium necessitatibus tempora unde quasi porro nemo aliquam voluptatem quaerat hic, doloremque impedit perferendis labore, ea libero voluptas laudantium? 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul id="list-893" class="cs-ul">
                <li class="cs-li">
                    Parkinson’s
                </li>
                <li class="cs-li">
                    MS
                </li>
                <li class="cs-li">
                    Stroke
                </li>
                <li class="cs-li">
                    SCI
                </li>
                <li class="cs-li">
                    Vestibular
                </li>
                <li class="cs-li">
                    Balance/Gait disorders
                </li>
                <li class="cs-li">
                    Carpal Tunnel
                </li>
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Hip/Knee Pain
                </li>
                <li class="cs-li">
                    Shoulder Pain
                </li>
            </ul>                   
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="RPsbs-873">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Occupational and Speech Therapy</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta officiis praesentium necessitatibus tempora unde quasi porro nemo aliquam voluptatem quaerat hic, doloremque impedit perferendis labore, ea libero voluptas laudantium? 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul id="list-893" class="cs-ul">
                <li class="cs-li">
                    Parkinson’s
                </li>
                <li class="cs-li">
                    MS
                </li>
                <li class="cs-li">
                    Stroke
                </li>
                <li class="cs-li">
                    SCI
                </li>
                <li class="cs-li">
                    Vestibular
                </li>
                <li class="cs-li">
                    Balance/Gait disorders
                </li>
                <li class="cs-li">
                    Carpal Tunnel
                </li>
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Hip/Knee Pain
                </li>
                <li class="cs-li">
                    Shoulder Pain
                </li>
            </ul>                   
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--             Side By Side Reverse             -->
<!-- ============================================ -->

<section id="RPsbsr-873">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy.jpg" alt="therapy" width="630" height="775">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Featured Service</span>
            <h2 class="cs-title">Occupational and Speech Therapy</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta officiis praesentium necessitatibus tempora unde quasi porro nemo aliquam voluptatem quaerat hic, doloremque impedit perferendis labore, ea libero voluptas laudantium? 
            </p>
            <p class="cs-text">
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
            <ul id="list-893" class="cs-ul">
                <li class="cs-li">
                    Parkinson’s
                </li>
                <li class="cs-li">
                    MS
                </li>
                <li class="cs-li">
                    Stroke
                </li>
                <li class="cs-li">
                    SCI
                </li>
                <li class="cs-li">
                    Vestibular
                </li>
                <li class="cs-li">
                    Balance/Gait disorders
                </li>
                <li class="cs-li">
                    Carpal Tunnel
                </li>
                <li class="cs-li">
                    Back Pain
                </li>
                <li class="cs-li">
                    Hip/Knee Pain
                </li>
                <li class="cs-li">
                    Shoulder Pain
                </li>
            </ul>                   
        </div>
    </div>
</section>
                                
                                

 

    {% include 'components/cta.html' %}

{% endblock %}