---
title: 'Treatments | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'treatments/'
eleventyNavigation:
    key: Treatments
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/treatments.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-843">
    <div class="cs-container">
        <span class="cs-int-title">Immersive & Relaxing Massages</span>
    </div>
    <!--Background Image-->
    <picture class="cs-background" aria-hidden="true">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga-m.jpg">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Fyoga.jpg" alt="yoga" width="1280" height="568">
    </picture>
</div>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-877">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Here to Help You Find a Path Forward</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, minus temporibus debitis quo nulla molestias quibusdam quisquam dicta eligendi nam. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, eum.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Thai Facial Gosa Massage & Lifting</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Nuch is taking break from most of her normal treatments to concentrate on this wonderfully rejuvenating  Goa special. She has been spending time perfecting her techniques, studying the secrets of pressure points and how to maximise the beneficial effects with the knowledge of the facial Sen lines. After the face and neck are cleansed using top quality products, a facial massage is applied with a herbal ball. Then a specially designed implement made from Jade is used to stroke the contours of the face in a very specific pattern involving knowledge of specific traditional acupressure points. Finally, a special face lifting mask is applied. The results is the muscles of your face feel lifted and toned, tension lines are relaxed and your skin is left feeling fresh, glowing and rejuvenated.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Tok Sen Healing Special</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        We are delighted to have our fabulous Minta running regular Tok Sen clinics here at True Thai. Minta is a master practitioner and gets very good results. She describes the treatment as shifting any scar tissue that may have formed on the muscles thus enabling the blood to move more freely. Rather like unblocking a stagnant river, afterwards the person will feel refreshed and freer in their body. Minta has an array of special wooden hammers and wedges that are used to tap specific points in the body. A rhythmic tapping is set up which creates a resonance that passes through the muscles and into the rest of the body too. This resonance helps to dislodge even long held and stubborn tension by lowering the muscles resistance the better for healing release to occur. This is particularly recommended when there is chronic tension and problems arising due to tight muscles, or from scar tissue from previous injuries.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Head, Back and Shoulders Thai Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-picture" aria-hidden="true">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images%2FPeople%2Ftherapy4.jpg" alt="therapy" width="305" height="200">
                    </picture>
                    <h3 class="cs-h3">Traditional Thai Body Massage</h3>
                    <p class="cs-item-text">
                        <strong>60 Minutes £65</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>90 Minutes £95</strong>
                    </p>
                    <p class="cs-item-text">
                        <strong>120 Minutes £120</strong>
                    </p>
                    <br>
                    <p class="cs-item-text">
                        Traditional Thai body Massage (Nuad Phaen Bhoran In Thai) is sometimes called lazy man’s yoga as the massage therapist will move your body for you into different stretches. Pressure is applied to the Sen (energy) lines along the body to clear blockages and assist with the free flow of energy. You will be lying on a mat on a raised bed, wearing comfortable clothing which we provide. Oils are not used with this treatment. Traditional Thai massage is both invigorating and relaxing.
                    </p>
                </a>
            </li>
        </ul>
        <a href="" class="cs-button-solid">View All</a>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}