/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #content-1450 {
    padding: var(--sectionPadding);
    padding-bottom: 0;
  }
  #content-1450 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #content-1450 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #content-1450 .cs-title,
  body.dark-mode #content-1450 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #content-1450 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #content-1450 .cs-topper {
    color: var(--primaryLight);
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbs-873,
  #RPsbsr-873 {
    padding: var(--sectionPadding);
  }
  #RPsbs-873 .cs-container,
  #RPsbsr-873 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 7vw, 4rem);
  }
  #RPsbs-873 .cs-content,
  #RPsbsr-873 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    /* prevents padding from affecting width and height */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #RPsbs-873 .cs-title,
  #RPsbsr-873 .cs-title {
    /* 17 characters wide including spaces */
    max-width: 17ch;
  }
  #RPsbs-873 .cs-text,
  #RPsbsr-873 .cs-text {
    margin-bottom: 1rem;
  }
  #RPsbs-873 .cs-text:last-of-type,
  #RPsbsr-873 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #RPsbs-873 .cs-button-solid,
  #RPsbsr-873 .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 1.5rem;
    background-color: var(--primary);
    border-radius: 0.25rem;
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #RPsbs-873 .cs-button-solid:before,
  #RPsbsr-873 .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 0.25rem;
    transition: width 0.3s;
  }
  #RPsbs-873 .cs-button-solid:hover:before,
  #RPsbsr-873 .cs-button-solid:hover:before {
    width: 100%;
  }
  #RPsbs-873 .cs-picture,
  #RPsbsr-873 .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    max-width: 39.375rem;
    /* 400px - 775px */
    height: clamp(25rem, 70vw, 48.4375rem);
    box-shadow: 0px 2.80579px 42.0868px rgba(0, 0, 0, 0.16);
    /* 100px - 200px */
    border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0 clamp(6.25rem, 17vw, 12.5rem);
    /* clips img tag corners */
    overflow: hidden;
  }
  #RPsbs-873 .cs-picture img,
  #RPsbsr-873 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 64rem) {
  #RPsbs-873,
  #RPsbsr-873 {
    padding: var(--sectionPadding);
  }
  #RPsbs-873 .cs-container,
  #RPsbsr-873 .cs-container {
    flex-direction: row;
    max-width: 80rem;
    justify-content: space-between;
  }
  #RPsbs-873 .cs-content,
  #RPsbsr-873 .cs-content {
    width: 53%;
    /* reset the padding, add the section padding back to the section container */
    padding: 0;
  }
  #RPsbs-873 .cs-picture,
  #RPsbsr-873 .cs-picture {
    width: 47vw;
    position: relative;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbs-873 .cs-topper,
  body.dark-mode #RPsbsr-873 .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #RPsbs-873 .cs-title,
  body.dark-mode #RPsbsr-873 .cs-title,
  body.dark-mode #RPsbs-873 .cs-text,
  body.dark-mode #RPsbsr-873 .cs-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #RPsbs-873 .cs-text,
  body.dark-mode #RPsbsr-873 .cs-text {
    opacity: 0.8;
  }
  body.dark-mode #RPsbs-873 .cs-picture:before,
  body.dark-mode #RPsbsr-873 .cs-picture:before {
    background-color: var(--accent);
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #RPsbsr-873 {
    background-color: #f7f7f7;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #RPsbsr-873 .cs-content {
    /* sends it to the left in the 1st position */
    order: -1;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #RPsbsr-873 {
    background-color: rgba(0, 0, 0, 0.2);
  }
}
